<aside class="aside-container">
  <div class="d-flex j-center">
      <h5 class="aside-subtitle">About Me</h5>
  </div>
  <div class="d-flex j-center" style="margin: 12px auto;">
    <img src="https://s3.us-east-2.amazonaws.com/pitchingtheory.com/bucketFolder/Cameron+family+photo+headshot+for+website.PNG" class="headshot-image">
  </div>
  <div style="padding: 10px;" class="about-me-container">
      <p>My name is Cameron Hobson.  I’m a former professional baseball player and current Human Performance Product Engineer for Bertec. 
        I specialize in bringing biomechanics related technology to people to help improve their performance.
      </p>
      <p>
          I am also a part time pitching coach.  I created this blog because I get a lot of questions about how to improve baseball performance through my unique perspective and knowledge of physics, engineering, and biomechanics concepts.  This blog lets me put those concepts out into the world where coaches and athletes can take them and apply them to their training & coaching.
      </p>
     <p>
        Growing up, I always questioned what I was being taught and in the back of my mind things just didn’t add up.  As I learned more about fundamental engineering principles as a student, I started to develop my own theories about how dynamics, fluid mechanics, and physics can be applied to pitching and human performance.
     </p>
     <p>
        Learning more and more about ground reaction forces, motion capture, jump analysis, and the fundamental principles of human movement has helped me develop these theories with more rigor and knowledge. I couldn’t help but try to put these concepts out into the world to help people improve faster and with more efficiency.
     </p>
     <p>
        In this blog, I merge engineering and physics concepts I learned from my formal schooling with experiential concepts I learned from my five years of professional baseball.  As my career as a player was coming to an end with a nagging elbow injury that had lasted an entire season, I was spending most of my time in the training room.
     </p>
     <p>
        I didn’t know it at the time, but the the concepts I was learning working with some of the best PT’s and AT’s in the world would shape my view of training and preparing the body for elite performance.  Two of the concepts I did a deep dive into was PRI (postural restoration institute) and DNS (dynamic neuromuscular stabilization).  I would get to the training room early and go through the trainers guide booklets, absorbing everything I could.  I was just trying to get better to get back on the field.
     </p>
     <p>
        Little did I know that what I learned in those days would help me understand human performance from a completely different angle, that of a physical therapist. Now I use those same concepts, in addition to what I have learned from countless pitching coaches and performance specialists,  to teach efficient mechanics with my pitchers. The results have been great.
     </p>     
  </div>
</aside>