@import '../../sass/colors.scss';
@import '../../sass/layouts.scss';
@import '../../sass/breakpoints.scss';
@import '../../sass/buttons.scss';
@import '../../sass/forms.scss';

.aside-subtitle {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 0;
    color: #636467;
    line-height: 1.5;
}

.mailing-list-success-message {
    color: lighten($buttonGreen, 15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;

    i {
        font-size: 18px;
    }
}