<aside class="aside-container">
    <div *ngIf="!formSubmission" class="d-flex j-center" style="height:37px">
        <h5 class="aside-subtitle">Join Our Mailing List</h5>
    </div>
    <div *ngIf="!formLoading && !formSubmission">
        <form [formGroup]="mailingListForm" (ngSubmit)="submitMailingList(mailingListForm)" class="mailing-list-form">
          <div class="input-group_col-1" style="margin-bottom: 0">
              <div class="input-field" style="margin-bottom: 0">
                  <label class="input-label" style="padding-left: 5px;">Name *</label>
                <input formControlName="name" type="text" class="input-control" required>
              </div>
          </div>
          <div class="input-group_col-1">
              <div class="input-field">
                  <label class="input-label" style="padding-left: 5px;">Email *</label>
                <input formControlName="email" type="email" class="input-control" required>
              </div>
          </div>
          <div class="d-flex j-center align-center">
            <button class="rect-btn rect-btn_red rect-btn_small" type="submit" style="margin-bottom: 0;" [disabled]="!mailingListForm.valid">Join</button>
          </div>
          </form>
    </div>
    <div *ngIf="formLoading" class="d-flex j-center align-center;">
      <app-spinner [color]="'red'"></app-spinner>
    </div>
    <div *ngIf="formSubmission" class="d-flex j-center align-center;" class="mailing-list-success-message">
      <p>You've been added to the mailing list! <i class="fas fa-check"></i></p>
    </div>
</aside>