$navbarBackground: #333;
$lightBlueGreen: #6ed3cf;
$tastyGrey: #e1e8f0;
$offWhite: #F2F2F2;
$grayBorder: darken(#dadada, 15);
$disabledGray: #ddd;
$mediumGray: #808080;
$warrantyBlue: darken(#6596B7, 15);
$richRed: #e62739;
$buttonGreen: darken(#1db954, 25);
$gold: darken(#ffd700, 12);