<section class="about-section-container">
    <div class="blog-entry-container about-body-container">
        <div class="section-title page-title" style="margin: 15px auto; text-align: center;">About Me</div>
        <div>
            <div class="d-flex j-center" style="margin: 12px auto;">
                <img src="https://s3.us-east-2.amazonaws.com/pitchingtheory.com/bucketFolder/Cameron+family+photo+headshot+for+website.PNG" class="headshot-image mobile">
            </div>
            <div style="padding: 10px;" class="about-me-container">
                <p>
                    My name is Cameron Hobson. I’m a former professional baseball player and current Performance Product Engineer for a biotechnology engineering company in Columbus, OH. I specialize in creating biomechanics related technology to help people improve their performance.
                  </p>
                  <img style="float: right;" src="https://s3.us-east-2.amazonaws.com/pitchingtheory.com/bucketFolder/Cameron+family+photo+headshot+for+website.PNG" class="headshot-image largeScreen">
                  <p style="padding-right: 5px;">
                    I created this blog because I get a lot of questions about how to improve baseball performance with engineering, physics, and biomechanics concepts. This blog lets me put those concepts out into the world where coaches and athletes apply them to their training and coaching.
                  </p>
                  <p style="padding-right: 5px;">
                    Learning about ground reaction forces, motion capture, jump analysis, and the fundamental principles of human movement has helped me develop theories on efficient mechanics and performance. I couldn’t help but put these concepts out into the world to help people improve faster and with more efficiency.
                  </p>
                  <p>
                    In this blog, I merge engineering and physics concepts I learned from my formal schooling with experiential concepts I learned from my five years of professional baseball. Learning more and more about ground reaction forces, motion capture, jump analysis, and the fundamental principles of human movement has helped me develop performance and pitching theories with rigor and backed by fundamental knowledge. I couldn’t help but try to put these concepts out into the world to help people improve faster and with more efficiency.
                  </p>
                  <p>
                    During my professional career, I experienced the unfortunate circumstance of dealing with a nagging elbow injury that had lasted an entire season. I was spending most of my time in the training room working with PT’s and AT’s.
                  </p>
                  <p>
                    Two of the concepts I did a deep dive into was PRI (postural restoration institute) and DNS (dynamic neuromuscular stabilization). The concepts of these weren’t to just treat the injury but reform the bodies fundamental movement patterns for more efficiency. Doing this would re-work how the body functioned and take stress off the injury. I believe these exercises played a huge roll in helping my body perform at the highest level.
                  </p>
                  <p>
                    Little did I know that what I learned in those days would help me understand human performance from a completely different angle. Now I use those same concepts, in addition to what I have learned from pro ball, countless pitching coaches, and performance specialists to teach efficient mechanics and command.
                  </p>    
            </div>
        </div>
    </div>
  </section>


