<section class="contact-section-container">
    <div class="blog-entry-container contact-body-container">
        <div class="section-title page-title" style="margin: 15px auto; text-align: center;">Contact</div>
        <div class="contact-main-content-grid-container">
            <div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit nisi aspernatur blanditiis dignissimos quod ducimus illo architecto, neque repudiandae vitae earum hic non voluptatibus aut voluptates odio reiciendis deleniti eius!
            </div>
            <div>
                <img src="../../assets/images/mailbox.svg" alt="">
            </div>
        </div>
        <div class="d-flex j-space-between align-center" style="margin: 0 auto; width: 140px;">
            <img src="../../assets/images/mail.png" class="contact-icon" alt="">
            <img src="../../assets/images/twitter.svg" class="contact-icon"alt="">
        </div>
    </div>
  </section>


