<section class="contact-section-container">
    <div class="blog-entry-container contact-body-container">
        <div class="section-title page-title" style="margin: 15px auto; text-align: center;">Contact</div>
        <div class="contact-main-content-grid-container">
            <div>
                <p>For more information, individual lessons, or questions, contact me at <a>cameron@pitchingtheory.com</a>.</p>
                <p style="margin-top: 12px;">In addition, feel free to connect with me on Twitter and LinkedIn by clicking the icons below!</p>
            </div>
            <div>
                <img class="contact-image" src="../../assets/images/mailbox.svg" alt="">
            </div>
        </div>
        <div class="d-flex j-space-between align-center" style="margin: 0 auto; width: 140px;">
            <!-- <a href="mailto:cameron@pitchingtheory.com">
              <img src="../../assets/images/mail.png" class="contact-icon" alt="">
            </a> -->
            <a href="https://twitter.com/camhobson?lang=en" target="_blank">
                <img src="../../assets/images/twitter.svg" class="contact-icon"alt="">
            </a>
            <a href="https://www.linkedin.com/in/cameron-hobson-17540313a/" target="_blank">
              <img src="../../assets/images/linkedin.png" class="contact-icon"alt="">
          </a>
        </div>
    </div>
  </section>


