<section class="contact-section-container">
    <div class="blog-entry-container contact-body-container">
        <div class="section-title page-title" style="margin: 15px auto 0 auto; text-align: center;">Contact</div>
        <div class="contact-main-content-grid-container">
            <div class="contact-paragraph-container">
                <p>For more information, individual lessons, or questions, contact me at <a>cameron@pitchingtheory.com</a>.</p>
                <p style="margin-top: 12px;">You can connect with me via Twitter or LinkedIn by clicking the icons below.</p>
                <p style="margin-top: 12px;"> In addition, subscribe to my YouTube channel to view all of my latest videos and to be notified of all future video uploads! </p>
            </div>
            <div>
                <img class="contact-image" src="../../assets/images/mailbox.svg" alt="">
            </div>
        </div>
        <div class="contact-icons-container d-flex j-space-between align-center" style="margin: 0 auto; width: 190px;">
            <a href="https://www.youtube.com/channel/UC2-QolX2b0UYbKgyAotO6vA" target="_blank">
              <img src="../../assets/images/youtube.png" class="contact-icon" alt="">
            </a>
            <a href="https://twitter.com/camhobson?lang=en" target="_blank">
                <img src="../../assets/images/twitter.svg" class="contact-icon"alt="">
            </a>
            <a href="https://www.linkedin.com/in/cameron-hobson-17540313a/" target="_blank">
              <img src="../../assets/images/linkedin.png" class="contact-icon"alt="">
          </a>
        </div>
    </div>
  </section>


