@import '../../sass/colors.scss';
@import '../../sass/layouts.scss';
@import '../../sass/breakpoints.scss';
@import '../../sass/buttons.scss';

.login-page-container {
    width: 400px;
    border: 1px solid $grayBorder;
    border-radius: 8px;
    background-color: #fff;
    margin-top: 40px;
    max-width: 1250px;
    margin: 40px auto;
    padding-left: 10px;
    padding-right: 10px;
}

.login-form-container {
    margin: 0 auto 15px auto;
    padding: 20px;
    max-width: 300px;

    h3 {
        display: block;
        text-align: center;
        font-family: 'Roboto Slab', serif;
        color: #444;
        font-size: 28px;
        line-height: 30.8px;
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        padding-bottom: 0;
    }
}

.login-button,
.submit-button {
    background-color: $richRed;
    color: #fff;
    height: 30px;
    width: 65px;
    border: 1px solid $richRed;
    border-radius: 8px;
    outline: none;
    margin-top: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;

    &:active {
        background-color: #fff;
        color: $richRed;
    }

    &:hover {
        background-color: #fff;
        color: $richRed; 
    }

    &:disabled {
        color: #333;
        background-color: $tastyGrey;
        cursor: default;
        border-color: darken($tastyGrey, 20);
    }
}

.incorrect-login-container {
    padding: 0 15px 15px 15px;
    color: $richRed;
    text-align: center;
}

.create-post-container {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.create-input-label {
    margin-left: -25px;
}

.create-post-section {
    border: 1px solid $grayBorder;
    border-radius: 8px;
    padding: 15px 10px;
    background-color: #fff;
    min-height: 700px;

    h2 {
        font-size: 28px;
        color: #444;
        margin: 15px auto;
        text-align: center;
    }

}