<div class="app-container">
    <div class="navBar-container">
        <div class="narrow-nav-container d-flex align-center j-space-between">
          <div style="padding-top: 9px;">
            <img src="../assets/images/logo-reduced.png" alt="" class="navBar-logo-picture">
          </div>
          <div class="d-flex j-space-between align-center navBar-links-container">
            <div style="margin: auto 0"><a (mouseup)="handleHomeClicked()" [ngClass]="this.colorService.getActivatedRoute('/')">Home</a></div>
            <div style="margin: auto 0"><a (mouseup)="handleAboutClicked()" [ngClass]="this.colorService.getActivatedRoute('/about')">About</a></div>
            <div style="margin: auto 0"><a (mouseup)="handleContactClicked()" [ngClass]="this.colorService.getActivatedRoute('/contact')">Contact</a></div>
          </div>
          <div class="hamburger-menu" (mouseup)="toggleHamburgerMenu()">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="hamburger-menu-content d-flex flex-column align-center" [ngClass]="showHamburgerMenuContent ? 'show-hamburger' : 'hide-hamburger'">
        <div class="hamburger-inner-content">
            <div><a (mouseup)="handleHomeClicked()" [ngClass]="this.colorService.getActivatedRoute('/')">Home</a></div>
            <div><a (mouseup)="handleAboutClicked()" [ngClass]="this.colorService.getActivatedRoute('/about')">About</a></div>
            <div><a (mouseup)="handleContactClicked()"  [ngClass]="this.colorService.getActivatedRoute('/contact')">Contact</a></div>
        </div>
      </div>
      <div>
        <router-outlet  (activate)="onActivate($event)"></router-outlet>
      </div>
</div>
<div class="footer">
    &copy; 2019 Hobson Web Solutions
</div>


