@import '../../../sass/colors.scss';
@import '../../../sass/breakpoints.scss';
@import '../../../sass/layouts.scss';
@import '../../../sass/buttons.scss';

.blog-photograph-and-caption-container {
    max-width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.blog-photograph-container {
    margin-top: 25px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 500px;

    img {
        width: 70%;
        max-width: 400px;
        border: 1px solid $grayBorder;
        border-radius: 4px;
    }
}


.blog-photo-caption {
    padding: 15px;
    border-right: 1px solid $grayBorder;
    border-left: 1px solid $grayBorder;
    border-bottom: 1px solid $grayBorder;
    border-radius: 0 0 4px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-image-border {
    border: 1px solid $grayBorder;
    border-radius: 4px;
}

.blog-image-border-top {
    border-bottom: 1px solid $grayBorder;
    border-radius: 4px 4px 0 0;
}

.blog-title-image-border-top {
    width: 100%;
    height: 1px;
    background-color: $grayBorder;
}

.blog-text-content-container {
    padding: 0 10px;

    p {
        font-size: 16px;
        line-height: 1.7;
        margin-bottom: 10px;
    }

    div {
        margin-left: auto;
        margin-right: auto;
    }

    .blog-subtitle {
        color: $richRed;
        display: block;
        font-family: 'Roboto Slab', serif;
        font-size: 24px;
        margin: 5px 0;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
}

.blog-image-element-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-section-title {
    display: block;
    margin: 25px auto 20px auto !important;
    font-size: 40px;
}

.section-byline {
    display: block;
    margin: 0 auto 12px auto !important;
}

.blog-image-element {
    display: inline-block;
    min-width: 300px;
    max-width: 550px;
    max-height: 300px;
    margin: 0 auto;
    padding: 0;
}

.blog-photograph-element-caption {
    border-right: 1px solid $grayBorder;
    border-left: 1px solid $grayBorder;
    border-bottom: 1px solid $grayBorder;
    border-radius:  0 0 4px 4px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-entry-date-container {
    display: block;
    margin: 0 auto 12px auto !important;
}

.green-text {
    color: $buttonGreen;
    font-size: 22px;
}

.green-check {
    color: $buttonGreen;
    padding-left: 12px;
    padding-top: 12px;
    font-size: 18px;
}

@media only screen and (min-width: $largeScreenBreakpoint) {
    .blog-section-title {
        display: block;
        margin-top: 22px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 40px;
    }

    .section-byline {
        display: block;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .blog-entry-date-container {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .blog-subtitle {
        margin-left: auto;
        margin-right: auto;
        text-indent: 30px;
    }

    .blog-paragraph {
        text-indent: 30px;
    }
}

.top-level-edit-and-delete-buttons-container {
    position: absolute;
    top: 5px;
    right: 10px;
}

.edit-and-delete-buttons-container {
    position: absolute;
    top: 25px;
    right: -35px;
    cursor: pointer;
    width: 35px;
}

@media only screen and (max-width: $tablet-breakpoint) {
    .blog-entry-container {
        margin: 0;
    }
    .blog-entry-container-edit-post-mode {
        margin: 0;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .blog-entry-date-container,
    .blog-photograph-container {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .blog-entry-container {
        padding: 25px 10px 20px 10px;
    }
    .blog-entry-container-edit-post-mode {
        max-width: 100%;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .blog-text-content-container {
        .blog-subtitle {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }

    .blog-section-title {
        display: block;
        margin-top: 0 !important;
        padding-top: 0 !important;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 32px !important;
    }

    .section-byline {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .blog-paragraph {
        text-indent: 25px;
    }

    .top-level-edit-and-delete-buttons-container {
        top: 5px;
        right: 20px;
    }

    .edit-and-delete-buttons-container {
        top: 25px;
        right: 0;
    }
}
