<section class="contact-section-container">
  <div class="blog-entry-container contact-body-container">
      <div class="section-title page-title" style="margin: 15px auto 30px auto; text-align: center;">Downloads</div>
      <div class="divider"></div>
      <div class="downloads-content-container">
        <div>
            <div style="margin-bottom: 15px;">
              <h2>Beginning Throwing</h2>
              <a href="https://s3.us-east-2.amazonaws.com/pitchingtheory.com/bucketFolder/starting-throwing-program.pdf" target="_blank">Beginning Winter 2018-2019 Throwing Program </a><img src="../../assets/images/adobe.png" class="pdf-icon">
              <p>Throwing program for middle school and high school pitchers who are beginning to get their arms in shape.</p>
            </div>
            <div>
              <!-- <h2>Beginning Throwing Calendar</h2> -->
              <a href="https://s3.us-east-2.amazonaws.com/pitchingtheory.com/bucketFolder/throwing-calendar.pdf" target="_blank">Beginning Winter 2018-2019 Throwing Program Calendar <img src="../../assets/images/adobe.png" class="pdf-icon"></a>
              <p>Throwing program calendar for middle school and high school pitchers who are beginning to get their arms in shape.</p>
            </div>
            <div style="margin-bottom: 15px;">
              <h2>Winter Throwing Program</h2>
              <a href="https://s3.us-east-2.amazonaws.com/pitchingtheory.com/bucketFolder/winter-throwing-program.pdf" target="_blank">Winter 2018-2019 Throwing Program </a><img src="../../assets/images/adobe.png" class="pdf-icon">
              <p> Throwing program for in shape middle and high school pitchers. Guys who have thrown for at least 3 weeks prior to beginning program. </p>
            </div>
            <div>
              <!-- <h2>Winter Throwing Program Calendar</h2> -->
              <a href="https://s3.us-east-2.amazonaws.com/pitchingtheory.com/bucketFolder/calendar-winter-throwing-program.pdf" target="_blank">Winter 2018-2019 Throwing Program </a><img src="../../assets/images/adobe.png" class="pdf-icon">
              <p>Throwing program calendar for in shape middle and high school pitchers. Guys who have thrown for at least 3 weeks prior to beginning program. </p>
            </div>
        </div>
      </div>
  </div>
</section>


