@import '../../sass/layouts.scss';
@import '../../sass/breakpoints.scss';
@import '../../sass/colors.scss';

.contact-section-container {
    padding: 30px;
}

.page-title {
    font-size: 42px;
    margin-top: 16px;
}

.contact-image {
    height: 120px;
    width: 120px;
}

.contact-body-container {
    margin: 10px auto;
    max-width: 900px;
    padding: 30px;
    border-radius: 8px;
}

.pdf-icon {
    height: 25px;
    width: 20px;
    margin-bottom: -5px;
    cursor: pointer;
} 

.downloads-content-container {
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 10px;
    text-align: center;

    p {
        display: block;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

     h2 {
        margin-bottom: 0;
    }

    div:nth-child(1) {
        grid-area: 'area1';

        p {
            color: #6B6B6B;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 1.7;
        }
    }  

    div:nth-child(2) {
        grid-area: 'area2';
    }
}

.contact-icon {
    height: 45px;
    width: 45px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
        transform: scale(1.15);
    }

    &:active {
        transform: scale(1.15);
    }
}

@media only screen and (max-width: $tablet-breakpoint) {
    .contact-image {
        height: 70px;
        width: 70px;
        position: absolute;
        top: 120px;
        right: 180px;
    }
}

@media only screen and (max-width: 900px) {
    .contact-image {
        right: 150px;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
   .contact-body-container {
       margin: 0;
       border-radius: 0;
       min-height: 78vh;
   }

   .contact-image {
    top: 80px;
    right: 25px;
}

    .contact-section-container {
        padding: 0;
    }

}