<section class="contact-section-container">
  <div class="blog-entry-container contact-body-container">
      <div class="section-title page-title" style="margin: 15px auto; text-align: center;">Downloads</div>
      <div class="contact-main-content-grid-container">
          <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam alias sapiente consequatur? Modi ipsum repellat, culpa quod rerum sequi inventore, debitis, voluptate dignissimos nam quasi cupiditate? Molestiae voluptatibus cumque architecto.
          </div>
          <div>
              <img class="contact-image" src="../../assets/images/knowledge.jpg" alt="">
          </div>
      </div>
  </div>
</section>


