@import '../../sass/colors.scss';
@import '../../sass/layouts.scss';
@import '../../sass/breakpoints.scss';
@import '../../sass/buttons.scss';

.home-container {
    margin: 30px auto 20px auto !important;
    display: grid;
    grid-template-columns: 69% 31%;
    grid-gap: 30px;

    .home-main-content-container {
        min-height: 1000px; 
        // margin-left: auto;
        // margin-right: auto;
    }

    .home-aside-content-container {
        min-height: 350px;
        max-height: 400px;
        border: 1px solid $grayBorder;
        border-radius: 8px;
        padding: 15px 10px;
        background-color: #fff;
        margin-bottom: 30px;
    }

    .home-aside-content-container-small {
        max-height: 400px;
        border: 1px solid $grayBorder;
        border-radius: 8px;
        padding: 15px 10px;
        background-color: #fff;
        margin-bottom: 30px;
    }

    
    .home-aside-about-content-container {
        border: 1px solid $grayBorder;
        border-radius: 8px;
        padding: 15px 10px;
        background-color: #fff;
        margin-bottom: 30px;
    }
}

.individual-blog-container {
    margin-bottom: 30px;
}

@media only screen and (max-width: $largeScreenBreakpoint) {
    .home-container {
        grid-template-columns: 67% 33%;
        grid-gap: 15px;
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
    }

    .home-aside-content-container,
    .home-aside-content-container-small {
        margin-bottom: 15px;
        margin-top: 0;
    }

    .home-aside-about-content-container  {
        margin-bottom: 15px;
        margin-top: 0;
    }

    .individual-blog-container {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: $tablet-breakpoint) {
    .home-container {
        display: block;
        margin: 0 auto !important;
        width: 100%;
    }

    .individual-blog-container {
        margin: 30px;
    }

    .home-aside-content-container,
    .home-aside-content-container-small {
        margin-left:30px;
        margin-right: 30px;
    }

    .home-aside-about-content-container  {
        display: none;
    }

    .home-main-content-container {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .individual-blog-container {
        margin: 0;
    }

    .home-aside-content-container {
        min-height: 230px;
        margin: 0 !important;
        border-radius: 0 !important;
    }

    .home-aside-content-container-small {
        margin: 0 !important;
        border-radius: 0 !important;
    }

    .home-aside-about-content-container  {
        margin: 0 !important;
        border-radius: 0 !important;
    }

    .home-container {
        margin: 0 !important;
    }
}