@import '../../../sass/buttons.scss';
@import '../../../sass/breakpoints.scss';

.create-input-control {
    max-width: 500px;
    min-width: 300px;
    margin-right: 0;
    margin-left: 0;
}

.paragraph-textarea {
    height: 400px;
    width: 390px;
    margin: 5px auto;
}

@media only screen and (max-width: $mobile-breakpoint) {
    .paragraph-textarea {
        width: 90%;
        height: 300px;
    }
}